version: 2.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/node:16.10.0
      
jobs:
  build:
    branches:
      only:
        - master
    docker:
      - image: circleci/node:9.11.2-stretch

    working_directory: ~/repo/back

    steps:
      - checkout
      - run: 
          name: "Install dependencies"
          command: |
            npm i;
      - run: 
          name: "Build app"
          command: |
            npm run build;
      - run: 
          name: "Deploy"
          command: |
            zip build.zip -r .;
            chmod +x ./install.sh;
            scp -o StrictHostKeyChecking=no build.zip $SSH_HOST:build.zip;
            scp -o StrictHostKeyChecking=no install.sh $SSH_HOST:install.sh;
            ssh -o StrictHostKeyChecking=no $SSH_HOST './install.sh';

      - run:
          name: Installing dependencies
          command: |
            npm i
            
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package.json" }}
        
      - run:
          name: Deploying
          command: |
            zip -r back.zip ./
            scp -oStrictHostKeyChecking=no back.zip ${ssh_connection}:back.zip;
            scp -oStrictHostKeyChecking=no install.sh ${ssh_connection}:install.sh;
            ssh -oStrictHostKeyChecking=no ${ssh_connection} <<< $'./install.sh';
