version: 2.1
executors:
  node-executor:
    docker:
      - image: cimg/node:16.10.0
      
jobs:
  deploy:
    environment:
      SSH_HOST: $SSH_HOST
      
    executor: node-executor
    steps:
      - checkout
      - run: 
          name: "Install dependencies"
          command: |
            npm i;
      - run: 
          name: "Build app"
          command: |
            npm run build;
      - run: 
          name: "Deploy"
          command: |
            zip build.zip -r .;
            chmod +x ./install.sh;
            scp -o StrictHostKeyChecking=no build.zip $SSH_HOST:build.zip;
            scp -o StrictHostKeyChecking=no install.sh $SSH_HOST:install.sh;
            ssh -o StrictHostKeyChecking=no $SSH_HOST './install.sh';
workflows:
  adventuremap-deploy:
    jobs:
      - deploy:
          context: main_context